* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
	color: white;
}

.center {
    padding: 0 calc(50% - 570px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px #ececec;
}

.logo {
    display: flex;
    align-items: center;
	width: 72px;
}

.logo__img {
    margin-right: 13px;
}
.wrep-logo {
	display: flex;
    align-items: center;
}
.header__left {
    display: flex;
    align-items: center;
	justify-content: space-between;
    width: 605px;
}

.header__form {
	display: flex;
	align-items: center;
	height: 38px;
	width: 402px;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
}
.header__form button {
	height: 100%;
}
.search {
	height: 39px;
    display: flex;
    align-items: center;
    width: 34px;
    border-left: solid 1px #ccc;
}
.search img {
	margin-left: 10px;
    width: 14px;
}
.header__right {
    display: flex;
    align-items: center;
}
.button {
	width: 130px;
    height: 38px;
    background-color: #f16d7f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__cart {
    margin-right: 26px;
}
.header__browse {
	width: 93px;
	height: 19px;
	color: #222222;
	font-size: 27px;
	line-height: 32px;
	text-transform: uppercase;
	font-family: "Lato Light";
	font-weight: 300;
	letter-spacing: 0.68px;
	display: flex;
    align-items: center;
}

.header__browse span {
	width: 93px;
	height: 19px;
	color: #f16d7f;
	font-size: 27px;
	line-height: 32px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.68px;
	width: 92px;
}
.Browse  span {
	color:  #838383;
}
.Browse {
	color: #222;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
	font-size: 14px;
    width: 87px;
	background-color: #cdcdcc;
}
.header__form input {
	width: 313px;
    height: 34px;
    padding-left: 16px;
    border: none;
    padding-right: 16px;
}
.header__browse h2 {
	padding-top: 3px;
	margin-left: -3px;
	width: 92px;
	color: #3e3e40;
	font-size: 27px;
	font-weight: 300;
	line-height: 32px;
	text-transform: uppercase;
	letter-spacing: 0.68px;
}
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu__link {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-align: left;
    line-height: 26px;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

.promo {
    background-color: #e8e8e8;
}
.promo__text {
	display: flex;
}
.promo__content {
    display: flex;
    align-items: center;
    height: 614px;
    background-image: url(img/promo_back.png);
    background-repeat: no-repeat;
    background-position: center -51px;
}
.promo__h1 {
	font-size: 60px;
    letter-spacing: 1.5px;
    width: 485px;
    color: #222222;
    text-transform: uppercase;
}
.rectangle {
	width: 12px;
    height: 96px;
    background-color: #f16d7f;
    margin-right: 12px;
    margin-top: 11px;
}
.promo__h3 span {
	color: #f16d7f;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.promo__h3 {
	width: 485px;
	height: 92px;
	color: #222222;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* второйблок */
.gallery-1 {
	height: 823px;
	width: 1140px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 98px;
	margin-bottom: 99px;
}
.gallery-1-column {
	height: 100%;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.for-img-30 {
	background-image: url(img/Layer_30.png);
	width: 560px;
	height: 542px;
	position: relative;
}
.for-img-32 {
	background-image: url(img/Layer_32.png);
	width: 560px;
	height: 261px;
	position: relative;
}
.for-img-37 {
	background-image: url(img/Layer_37.png);
	width: 560px;
	height: 261px;
	position: relative;
}
.for-img-31 {
	background-image: url(img/Layer_31.png);
	width: 560px;
	height: 542px;
	position: relative;
}
.gallery-1-ACCESORIES {
	position: absolute;
    top: 25px;
    left: 0;
    background-color: white;
    height: 82px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-1-ACCESORIES p {
	color: #222222;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.45px;
}
.gallery-1-ACCESORIES span {
	color: #f16d7f;
	font-size: 30px;
	letter-spacing: 0.75px;
}
.gallery-2-title {
	/* height: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.gallery-2-title h2{
	color: #222222;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.75px;
    text-align: center;
}
.gallery-2-title .p_2 {
	color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.35px;
    text-align: center;
}
/* карточки товара */
.center-2 {
	padding: 0 calc(50% - 586px);
}
.gallery-2-product a {
	display: block;
	z-index: 1;
}
.gallery-2-product {
	display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
}
.gallery-2-product-cart {
	position: relative;
	width: 263px;
	margin-bottom: 39px;
	background-color: #ffffff;
	padding: 0px 15px;
}
.gallery-2-product-cart img {
	width: 263px;
    height: 280px;;
}
.gallery-2-product-cart img:hover {
	filter: brightness(50%);
}
.gallery-2-product-cart:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.gallery-2-product-cart-description {
    padding: 20px 14px;
}
.product-cart-price {
	width: 50px;
    height: 15px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
	line-height: 16px;
    padding-top: 17px;
}
.product-cart-name {
	display: block;
    color: #222;
    width: 261px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
	line-height: 13px;
}
.Add_to_Cart {
	display: none;

}
.gallery-2-product-cart-img:hover .Add_to_Cart {
	display: flex;
    position: absolute;
    border: solid 1px #fff;
    border-radius: 5px;
    width: 123px;
    height: 39px;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
	top: 98px;
    left: 85px;
    z-index: 100;
}

.Add_to_Cart img {
	width: 23px;
	height: 22px;
	padding-left: 12px;
    padding-right: 8px;

}
.btn-continer {
	display: flex;
	align-items: center;
	justify-content: center;

}
.btn-continer img {
	padding-left: 16px;
    padding-bottom: 2px;
}
.btn-continer a {
	width: 212px;
	height: 48px;
	background-color: #f16d7f;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.4px;
	border: none;
	margin-bottom: 113px;
	text-align: center;
	line-height: 48px;
}
/* блок-офер */
.block-offer {
	display: flex;
}
.block-offer-img {
	background-image: url(img/Layer_38.png);
	z-index: 1;
	width: 767px;
    height: 529px;
	position: relative;

}
.wrep-OFFER {
	color: white;
	position: absolute;
	top: 146px;
	left: 39px;
}
.OFFER {
	letter-spacing: 1.5px;
	font-size: 54px;
	font-weight: 700;
	text-transform: uppercase;
}
.block-offer-img span {
	color: #f16d7f;
}
.FOR_WOMEN {
	font-size: 32px;
	letter-spacing: 0.9px;
}

.block-offer-img:hover {
	filter: brightness(50%);
}
.advantages {
	width: 373px;
	color: #fbfbfb;
	height: 529px;
	background-color: #222224;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.advantages-cart {
	position: relative;
    margin-left: 36px;
}
.advantages-cart img{
	position: absolute;

}
.advantages-cart h3 {
	width: 219px;
	height: 20px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-left: 78px;
	padding-bottom: 15px;
}
.advantages-cart p {
	width: 219px;
	height: 58px;
	font-size: 13px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.35px;
	margin-left: 78px;
}
/* нижняя форма */
.substrate-form {
	height: 438px;
	background-image: url(img/Layer_41.png);
	opacity: 0.5;
    margin-top: 97px;
	display: flex;
	margin-bottom: 109px;
}
.block-form {
	position: relative;
}
.wrapper-form {
	height: 483px;
	position: absolute;
	width: 100%;
	top: 0px;
	display: flex;
}
.block-form-reviews {
	border-right: solid 1px #fff;
	width: 50%;
	height: 100%;
    position: relative;
}
.block-form-reviews h3 {
	color: #f16d7f;
	font-size: 16px;
	letter-spacing: 0.4px;
	line-height: 26px;
	font-weight: 700;
}
.block-form-reviews h3 span {
	color: #222224;
	font-size: 12px;
	letter-spacing: 0.3px;
	line-height: 14px;
	}
.block-form-reviews-item {
	width: 497px;
    position: absolute;
    left: 76px;
    top: 111px;
	display: flex;
}
.block-form-reviews-item img {
	width: 83px;
	height: 83px;
	margin-right: 28px;
}
.block-form-reviews-item-text {

}
.block-form-reviews-item p {
	width: 386px;
	color: #222224;
	font-size: 16px;
	font-style: italic;
	line-height: 26px;
	letter-spacing: 0.4px;
}
.block-form-reviews-select {
	position: absolute;
    display: flex;
    top: 278px;
    left: 190px;
}
.block-form-reviews-item-left {
	margin-right: 13px;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}
.block-form-reviews-item-right {
	width: 38px;
    height: 4px;
    background-color: #f16d7f;
}
.block-form-Subscribe {
	position: relative;
}
.block-form-Subscribe-item {
    width: 497px;
    position: absolute;
    left: 76px;
    top: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 122px;
	color: #222224;
}
.block-form-Subscribe-item h2 {
	font-size: 24px;
	letter-spacing: 0.6px;
	/* line-height: 54px; */
	text-transform: uppercase;
}
.block-form-Subscribe-item p {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.35px;
	/* line-height: 24px; */
}
.bottom__form input {
	width: 334px;
    height: 46px;
    border-radius: 23px;
    background-color: #e1e1e1;
    border: none;
    padding: 0 16px;
	position: relative;
}
.bottom__form input:focus {
    outline: none;
}
.subscribe {
	position: absolute;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.35px;
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    left: 327px;
    text-align: center;
}
/* блок перед футером */
.company-inform {
	display: flex;
	margin-bottom: 89px;
}
.company-inform-logo {
	width: 427px;
	margin-right: 46px;
}
.company-inform-logo p {
	color: #898989;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.35px;
}
.company-inform-logo-text {
	margin-top: 41px;
}
.company-inform .list {
	width: 216px;
}
.company-inform .list ul a {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
	line-height: 42px;
	color: #898989;
}
.company-inform .list ul{
	list-style: none;
}
.company-inform .list summary {
	width: 154px;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
summary::-webkit-details-marker {
display: none;
}
summary:focus {
	outline: none;
}
summary:hover {
	cursor: pointer;
}
footer {
	background-color: #eaeaea;
	height: 79px;
}
footer p {
	color: #7a7a7a;
	font-size: 16px;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: 0.4px;
}
.coperight {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}
.social_network-wrap {
	width: 32px;
    height: 32px;
    background-color: white;
    margin: 0 4px;
    text-align: center;
    line-height: 2.5;
}
.social_network {
	display: flex;
}
