* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
	color: white;
}

ul {
	list-style: none;
}
.center {
    padding: 0 calc(50% - 570px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px #ececec;
}

.logo {
    display: flex;
    align-items: center;
	width: 72px;
}

.logo__img {
    margin-right: 13px;
}
.wrep-logo {
	display: flex;
    align-items: center;
}
.header__left {
    display: flex;
    align-items: center;
	justify-content: space-between;
    width: 605px;
}

.header__form {
	display: flex;
	align-items: center;
	height: 38px;
	width: 402px;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
}
.header__form button {
	height: 100%;
}
.header__form details {
	height: 100%;
	position: relative;
}
.search {
	height: 39px;
    display: flex;
    align-items: center;
    width: 34px;
    border-left: solid 1px #ccc;
}
.search img {
	margin-left: 10px;
    width: 14px;
}
.header__right {
    display: flex;
    align-items: center;
}
.button {
	width: 130px;
    height: 38px;
    background-color: #f16d7f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__cart {
    margin-right: 26px;
}
.header__browse {
	width: 93px;
	height: 19px;
	color: #222222;
	font-size: 27px;
	line-height: 32px;
	text-transform: uppercase;
	font-family: "Lato Light";
	font-weight: 300;
	letter-spacing: 0.68px;
	display: flex;
    align-items: center;
}
.drop {
	width: 262px;
	height: 530px;
	border-radius: 5px;
	background-color: #ffffff;
	position: absolute;
    top: 36px;
	z-index: 5;
}
.drop-menu {
	display: none;
	/* display: flex; */
	width: 846px;
	height: 310px;
	border-radius: 5px;
	background-color: #ffffff;
	position: absolute;
	z-index: 3;
}
.tail {
	margin-right: 161px;
}
.drop-flex {
	padding: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
    color: #646464;
}
.drop-flex ul li a {
	color: inherit;
	text-transform: none;
    color: inherit;
    width: 100px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
	padding: 0;
}
.drop-flex ul {
    list-style-type: none;
}
.drop-flex h3 {
    border-bottom: solid 1px #e8e8e8;
	padding-bottom: 5px;
	width: 58px;
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
	margin-bottom: 6px;
}

.header__browse span {
	width: 93px;
	height: 19px;
	color: #f16d7f;
	font-size: 27px;
	line-height: 32px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.68px;
	width: 92px;
}
.Browse  span {
	color:  #838383;
}
.Browse {
	color: #222;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: #cdcdcc;
    justify-content: center;
    width: 87px;
}
.header__form input {
	width: 313px;
    height: 34px;
    padding-left: 16px;
    border: none;
    padding-right: 16px;
	outline: none;
}
.header__browse h2 {
	padding-top: 3px;
	margin-left: -3px;
	width: 92px;
	color: #3e3e40;
	font-size: 27px;
	font-weight: 300;
	line-height: 32px;
	text-transform: uppercase;
	letter-spacing: 0.68px;
}
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}
.lost-drop {
	right: 0;
}
.center-drop {
    left: -281px;
}
.menu__list {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-align: left;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
	position: relative;
}
.menu a{
	font-size: 14px;
    font-weight: bold;
    color: #222222;
    line-height: 26px;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

.menu__list:hover .drop-menu{
	display: flex;

}
.promo {
    background-color: #e8e8e8;
}
.promo__text {
	display: flex;
}
.promo__content {
    display: flex;
    align-items: center;
    height: 614px;
    background-image: url(../img/promo_back.png);
    background-repeat: no-repeat;
    background-position: center -51px;
}
.promo__h1 {
	font-size: 60px;
    letter-spacing: 1.5px;
    width: 485px;
    color: #222222;
    text-transform: uppercase;
}
.rectangle {
	width: 12px;
    height: 96px;
    background-color: #f16d7f;
    margin-right: 12px;
    margin-top: 11px;
}
.promo__h3 span {
	color: #f16d7f;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.promo__h3 {
	width: 485px;
	height: 92px;
	color: #222222;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* второйблок */
.gallery-1 {
	height: 823px;
	width: 1140px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 98px;
	margin-bottom: 99px;
}
.gallery-1-column {
	height: 100%;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.for-img-30 {
	background-image: url(../img/Layer_30.png);
	width: 560px;
	height: 542px;
	position: relative;
}
.for-img-32 {
	background-image: url(../img/Layer_32.png);
	width: 560px;
	height: 261px;
	position: relative;
}
.for-img-37 {
	background-image: url(../img/Layer_37.png);
	width: 560px;
	height: 261px;
	position: relative;
}
.for-img-31 {
	background-image: url(../img/Layer_31.png);
	width: 560px;
	height: 542px;
	position: relative;
}
.gallery-1-ACCESORIES {
	position: absolute;
    top: 25px;
    left: 0;
    background-color: white;
    height: 82px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-1-ACCESORIES p {
	color: #222222;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.45px;
}
.gallery-1-ACCESORIES span {
	color: #f16d7f;
	font-size: 30px;
	letter-spacing: 0.75px;
}

.gallery-2-title h2{
	color: #222222;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.75px;
    text-align: center;
}
.gallery-2-title .p_2 {
	color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.35px;
    text-align: center;
}
/* карточки товара */
.center-2 {
	padding: 0 calc(50% - 586px);
}
.gallery-2-product a {
	display: block;
	z-index: 1;
}
.gallery-2-product {
	display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
}
.gallery-2-product-cart {
	position: relative;
	width: 263px;
	margin-bottom: 39px;
	background-color: #ffffff;
	padding: 0px 15px;
}
.gallery-2-product-cart img {
	width: 263px;
    height: 280px;;
}
.gallery-2-product-cart img:hover {
	filter: brightness(50%);
}
.gallery-2-product-cart:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.gallery-2-product-cart-description {
    padding: 20px 14px;
}
.product-cart-price {
	width: 50px;
    height: 15px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
	line-height: 16px;
    padding-top: 17px;
}
.product-cart-name {
	display: block;
    color: #222;
    width: 261px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
	line-height: 13px;
}
.gallery-2-product-cart-img {
	display: flex;
    justify-content: center;
}
.Add_to_Cart {
	display: none;
}
.gallery-2-product-cart:hover .Add_to_Cart {
	display: flex;
    position: absolute;
    border: solid 1px #fff;
    border-radius: 5px;
    width: 123px;
    height: 39px;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
	top: 98px;
    left: 85px;
    z-index: 100;
	color: #fff;
}

.Add_to_Cart img {
	width: 23px;
	height: 22px;
	padding-left: 12px;
    padding-right: 8px;

}
.btn-continer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 113px;
}
.btn-continer img {
	padding-left: 16px;
    padding-bottom: 2px;
}
.btn-continer a {
	width: 212px;
	height: 48px;
	background-color: #f16d7f;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.4px;
	border: none;
	text-align: center;
	line-height: 48px;
}
/* блок-офер */
.block-offer {
	display: flex;
	margin-bottom: 97px;
}
.block-offer-img {
	background-image: url(../img/Layer_38.png);
	z-index: 1;
	width: 767px;
    height: 529px;
	position: relative;

}
.wrep-OFFER {
	color: white;
	position: absolute;
	top: 146px;
	left: 39px;
}
.OFFER {
	letter-spacing: 1.5px;
	font-size: 54px;
	font-weight: 700;
	text-transform: uppercase;
}
.block-offer-img span {
	color: #f16d7f;
}
.FOR_WOMEN {
	font-size: 32px;
	letter-spacing: 0.9px;
}

.block-offer-img:hover {
	filter: brightness(50%);
}
.advantages {
	width: 373px;
	color: #fbfbfb;
	height: 529px;
	background-color: #222224;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.advantages-cart {
	position: relative;
    margin-left: 36px;
}
.advantages-cart img{
	position: absolute;

}
.advantages-cart h3 {
	width: 219px;
	height: 20px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-left: 78px;
	padding-bottom: 15px;
}
.advantages-cart p {
	width: 219px;
	height: 58px;
	font-size: 13px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.35px;
	margin-left: 78px;
}
/* нижняя форма */
.substrate-form {
	height: 438px;
	background-image: url(../img/Layer_41.png);
	opacity: 0.5;
	display: flex;
	margin-bottom: 109px;
}
.block-form {
	position: relative;
}
.wrapper-form {
	height: 483px;
	position: absolute;
	width: 100%;
	top: 0px;
	display: flex;
}
.block-form-reviews {
	border-right: solid 1px #fff;
	width: 50%;
	height: 100%;
    position: relative;
}
.block-form-reviews h3 {
	color: #f16d7f;
	font-size: 16px;
	letter-spacing: 0.4px;
	line-height: 26px;
	font-weight: 700;
}
.block-form-reviews h3 span {
	color: #222224;
	font-size: 12px;
	letter-spacing: 0.3px;
	line-height: 14px;
	}
.block-form-reviews-item {
	width: 497px;
    position: absolute;
    left: 76px;
    top: 111px;
	display: flex;
}
.block-form-reviews-item img {
	width: 83px;
	height: 83px;
	margin-right: 28px;
}
.block-form-reviews-item-text {

}
.block-form-reviews-item p {
	width: 386px;
	color: #222224;
	font-size: 16px;
	font-style: italic;
	line-height: 26px;
	letter-spacing: 0.4px;
}
.block-form-reviews-select {
	position: absolute;
    display: flex;
    top: 278px;
    left: 190px;
}
.block-form-reviews-item-left {
	margin-right: 13px;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}
.block-form-reviews-item-right {
	width: 38px;
    height: 4px;
    background-color: #f16d7f;
}
.block-form-Subscribe {
	position: relative;
}
.block-form-Subscribe-item {
    width: 497px;
    position: absolute;
    left: 76px;
    top: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 122px;
	color: #222224;
}
.block-form-Subscribe-item h2 {
	font-size: 24px;
	letter-spacing: 0.6px;
	/* line-height: 54px; */
	text-transform: uppercase;
}
.block-form-Subscribe-item p {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.35px;
	/* line-height: 24px; */
}
.bottom__form input {
	width: 256px;
    height: 46px;
    border-radius: 23px;
    background-color: #e1e1e1;
    border: none;
    padding: 0 114px 0px 16px;
    position: relative;
}
.bottom__form input:focus {
    outline: none;
}
.subscribe {
	position: absolute;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.35px;
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    left: 338px;
    text-align: center;
}
/* блок перед футером */
.company-inform {
	display: flex;
	margin-bottom: 89px;
}
.company-inform-logo {
	width: 427px;
	margin-right: 46px;
}
.company-inform-logo p {
	color: #898989;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.35px;
}
.company-inform-logo-text {
	margin-top: 41px;
}
.company-inform .list {
	width: 216px;
}
.company-inform .list ul a {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
	line-height: 42px;
	color: #898989;
}
.company-inform .list ul{
	list-style: none;
}
.company-inform .list h2 {
	width: 154px;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
summary::-webkit-details-marker {
display: none;
}
summary::after {
  content: '\25B6';
  margin-left: 8px;
}
.sort-show summary::after {
  content: '\25B6';
  margin-left: 20px;
}

details[open] > summary::after {
  content: '\25BC';
  margin-left: 8px;
}
summary:focus {
	outline: none;
}
summary:hover {
	cursor: pointer;
}
footer {
	background-color: #eaeaea;
	height: 79px;
}
footer p {
	color: #7a7a7a;
	font-size: 16px;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: 0.4px;
}
.fab {
	color: #b2b2b2;
}
.coperight {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}
.social_network-wrap {
	width: 32px;
    height: 32px;
    background-color: white;
    margin: 0 4px;
    text-align: center;
    line-height: 2.3;
}
.social_network-wrap:hover {
	color: #f7f7f8;
    background-color: #f16d7f;
}
.social_network-wrap:hover .fab{
	color: #f7f7f8;
}
.social_network-wrap:active {

    opacity: 50%;
}
.social_network {
	display: flex;
}




/* -------вторая страница сайтв----- */




.breadcrumb {
	height: 148px;
	background-color: #f8f3f4;
	position: relative;
}
.breadcrumb-list {
	display: flex;
	position: absolute;
	top: 69px;
	left: 80%;
	width: 196px;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #636363;
	font-weight: 300;
}
.breadcrumb-list .active {
	color: #f16d7f;
	font-weight: 700;
}
.breadcrumb-item a {
	color: #636363;
}
.slesh::after {
	content: '/';
}

.gallery-products-wreper {
	display: flex;
	margin-top: 71px;
}
.advantages-product {
	color: #fbfbfb;
	background-color: #222224;
	display: flex;
	justify-content: space-evenly;
	height: 341px;
	align-items: center;
}
.pagination {
	width: 261px;
	height: 16px;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	background-color: #ffffff;
	padding: 16px;
}
.pagination a:last-of-type {
	padding: 0;
}
.pagination span {
	color: #f16d7f;
}
.pagination a {
	color: #c4c4c4;
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;;
	background-color: #fff;
	padding-right: 16px;
}
.pagination .active {
	color: #ef5b70;
	background-color: #fff;
}
.View_All {
	width: 150px;
	height: 44px;
	border-radius: 3px;
	border: 1px solid #ef5b70;
	background-color: #ffffff;
	color: #ef5b70;
	font-size: 16px;
	font-weight: bold;
	line-height: 26px;
}

.View_All:hover {
	cursor: pointer;
}

.sidebar {
	width: 243px;
    margin-right: 34px;
}
.Category {
	border-bottom: 1px solid #ebebeb;
	width: 243px;
    margin-bottom: 18px;
}
.Category summary {
	padding-left: 11px;
    line-height: 38px;
	color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
	border-left: 5px solid #ef5b70;
}
.Category summary:focus {
	color: #ef5b70;
}
.Category ul li a {
	color: #6f6e6e;
}
.Category ul {
	color: #6f6e6e;
	width: 138px;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    padding-left: 12px;
}
.rounded {
	height: 165px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.rounded-Trending {
	display: flex;
	justify-content: space-between;
}
.in-mr-l {
	margin-left: 23px;
}
.in-mr-r {
	margin-right: 9px;
}
.rounded-select-block {
	width: 262px;
	height: 74px;
}
.rounded-select-block h3 {
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
}
.rounded-select-block-content {
	height: 49px;
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	display: flex;
	align-items: flex-start;
	 flex-wrap: wrap;
	 margin-top: 14px;
}



.sloider {
	-webkit-appearance: none;
	width: 100%;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	height: 6px;
	border-radius: 3px;
	background-color: #f0f0f0;
}

.rounded-select-block-content .sloider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #f16d7f;
    cursor: pointer;
}

.rounded-select-block-content .sloider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f16d7f;
    cursor: pointer;
}

.sort {
	height: 50px;
	background-color: #f3f3f3;
    display: flex;
	align-items: center;
}
.sort-show {
	display: flex;
    align-items: center;
    padding-left: 13px;
    width: 153px;
    height: 30px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
	margin-left: 10px;
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 400;

}

.sort-show details {
	border-left: 1px solid #ebebeb;
    height: 100%;
    padding-left: 11px;
    margin-left: 8px;
    line-height: 30px;

}

.gallery-products {
	display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
    width: 879px;
}
.gallery-2-title h2{
	color: #222222;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.75px;
    text-align: center;
}
.gallery-2-title .p_2 {
	color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.35px;
    text-align: center;
}
.gallery-products-all .btn-continer {
	justify-content: space-between;
}



/* ------третья страница------- */

.single-slider {
	height: 777px;
	margin-bottom: 763px;
	position: relative;
}
.slider {
	position: relative;
	border: 1px solid #eaeaea;
	background-color: #f7f7f7;
	display: flex;
	justify-content: center;
}
.single-slider-navigation {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 365px;
	width: 100%;
}
.single-slider-navigation-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 47px;
	height: 47px;
	background-color: #eaeaea;
}
.gallery-single-Page h2 {
	text-transform: uppercase;
	text-align: center;
}
.product_discript-wreper {
	position: absolute;
	width: 1141px;
	height: 730px;
	border: 1px solid #eaeaea;
	left: calc(50% - 570px);
	top: 691px;
	background-color: #ffffff;
}
.product_discript {
	padding: 73px 262px 121px 262px;
	text-align: center;
	position: relative;
}
.gallery-single-Page .gallery-2-product-cart img {
	width: auto;
}
.gallery-single-Page .gallery-2-product-cart-img {
	background-color: #e9e9e9;
}
.gallery-2-product-cart-img:hover {
	filter: brightness(50%);
}

.product_discript h3 {
	color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
	line-height: 43px;
}
.product_discript h2 {
	color: #4d4d4d;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}
.product_discript p {
	color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.product_discript-devider {
	width: 147px;
	height: 1px;
	border: 1px solid #eaeaea;
	top: 98px;
	left: calc(50% - 74px);
    margin: 15px 235px;
}
.product_discript-devider-inside {
	width: 63px;
	height: 3px;
	background-color: #ef5b70;
}
.product_discript-form {
	height: 207px;
    border-top: solid 1px #eaeaea;
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.product_discript-form select {
	width: 144px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    outline: none;
    padding-left: 15px;
    color: #bcbcbc;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.product_discript-select-wreper {
    margin: 35px 0px;
}
.product_discript-select-wreper input{
	width: 114px;
    height: 35px;
    border: 1px solid #eaeaea;
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #bcbcbc;
	outline: none;
}
.product_discript-form-mr{
	margin: 0px 53px;
}
.product_discript-MATERIAL_box {
	display: flex;
    justify-content: space-evenly;
	padding: 15px 0px 32px 0px;

}
.product_discript-MATERIAL_box:first-of-type {
	margin-left: 44px;
}
.product_discript-MATERIAL_box h3 {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: #2f2f2f;
}
.product_discript-MATERIAL_box span {
	color: #b9b9b9;
}

.product_discript-price {
	color: #ef5b70;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.btn-single-page {
	width: 537px;
	height: 55px;
	border-radius: 3px;
	border: 1px solid #ef5b70;
	background-color: #ffffff;
	color: #ef5b70;
	font-size: 16px;
	font-weight: bold;
	line-height: 26px;
	display: flex;
    align-items: center;
    justify-content: center;
}

.btn-single-page img
{
	color: #ef5b70;
}

.btn-single-page:hover {
	cursor: pointer;
}

/* ---------страница шопинг-карт--------- */
