@center : padding: 0 calc(50% - 570px);
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
.center {
  padding: 0 calc(-520%);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px #ececec;
}
.logo {
  display: flex;
  align-items: center;
  width: 72px;
}
.logo__img {
  margin-right: 13px;
}
.wrep-logo {
  display: flex;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 605px;
}
.header__form {
  display: flex;
  align-items: center;
  height: 38px;
  width: 402px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}
.header__form button {
  height: 100%;
}
.header__form details {
  height: 100%;
  position: relative;
}
.search {
  height: 39px;
  display: flex;
  align-items: center;
  width: 34px;
  border-left: solid 1px #ccc;
}
.search img {
  margin-left: 10px;
  width: 14px;
}
.header__right {
  display: flex;
  align-items: center;
}
.button {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__cart {
  margin-right: 26px;
}
.header__browse {
  width: 93px;
  height: 19px;
  color: #222222;
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Lato Light";
  font-weight: 300;
  letter-spacing: 0.68px;
  display: flex;
  align-items: center;
}
.drop {
  width: 262px;
  height: 530px;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 36px;
  z-index: 5;
}
.drop-menu {
  display: none;
  /* display: flex; */
  width: 846px;
  height: 310px;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  z-index: 3;
}
.tail {
  margin-right: 161px;
}
.drop-flex {
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  color: #646464;
}
.drop-flex ul li a {
  text-transform: none;
  color: inherit;
  width: 100px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  padding: 0;
}
.drop-flex ul {
  list-style-type: none;
}
.drop-flex h3 {
  border-bottom: solid 1px #e8e8e8;
  padding-bottom: 5px;
  width: 58px;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  margin-bottom: 6px;
}
.header__browse span {
  width: 93px;
  height: 19px;
  color: #f16d7f;
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.68px;
  width: 92px;
}
.Browse span {
  color: #838383;
}
.Browse {
  color: #222;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: #cdcdcc;
  justify-content: center;
  width: 87px;
}
.header__form input {
  width: 313px;
  height: 34px;
  padding-left: 16px;
  border: none;
  padding-right: 16px;
  outline: none;
}
.header__browse h2 {
  padding-top: 3px;
  margin-left: -3px;
  width: 92px;
  color: #3e3e40;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.68px;
}
.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}
.lost-drop {
  right: 0;
}
.center-drop {
  left: -281px;
}
.menu__list {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  text-align: left;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
  position: relative;
}
.menu a {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  line-height: 26px;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
.menu__list:hover .drop-menu {
  display: flex;
}
/* нижняя форма */
.substrate-form {
  height: 438px;
  background-image: url(../img/Layer_41.png);
  opacity: 0.5;
  display: flex;
  margin-bottom: 109px;
}
.block-form {
  position: relative;
}
.wrapper-form {
  height: 483px;
  position: absolute;
  width: 100%;
  top: 0px;
  display: flex;
}
.block-form-reviews {
  border-right: solid 1px #fff;
  width: 50%;
  height: 100%;
  position: relative;
}
.block-form-reviews h3 {
  color: #f16d7f;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 26px;
  font-weight: 700;
}
.block-form-reviews h3 span {
  color: #222224;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 14px;
}
.block-form-reviews-item {
  width: 497px;
  position: absolute;
  left: 76px;
  top: 111px;
  display: flex;
}
.block-form-reviews-item img {
  width: 83px;
  height: 83px;
  margin-right: 28px;
}
.block-form-reviews-item p {
  width: 386px;
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
}
.block-form-reviews-select {
  position: absolute;
  display: flex;
  top: 278px;
  left: 190px;
}
.block-form-reviews-item-left {
  margin-right: 13px;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}
.block-form-reviews-item-right {
  width: 38px;
  height: 4px;
  background-color: #f16d7f;
}
.block-form-Subscribe {
  position: relative;
}
.block-form-Subscribe-item {
  width: 497px;
  position: absolute;
  left: 76px;
  top: 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 122px;
  color: #222224;
}
.block-form-Subscribe-item h2 {
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.block-form-Subscribe-item p {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}
.bottom__form input {
  width: 334px;
  height: 46px;
  border-radius: 23px;
  background-color: #e1e1e1;
  border: none;
  padding: 0 16px;
  position: relative;
}
.bottom__form input:focus {
  outline: none;
}
.subscribe {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.35px;
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  left: 327px;
  text-align: center;
}
/* блок перед футером */
.company-inform {
  display: flex;
  margin-bottom: 89px;
}
.company-inform-logo {
  width: 427px;
  margin-right: 46px;
}
.company-inform-logo p {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.company-inform-logo-text {
  margin-top: 41px;
}
.company-inform .list {
  width: 216px;
}
.company-inform .list ul a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 42px;
  color: #898989;
}
.company-inform .list ul {
  list-style: none;
}
.company-inform .list h2 {
  width: 154px;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
summary::-webkit-details-marker {
  display: none;
}
summary::after {
  content: '\25B6';
  margin-left: 8px;
}
.sort-show summary::after {
  content: '\25B6';
  margin-left: 20px;
}
details[open] > summary::after {
  content: '\25BC';
  margin-left: 8px;
}
summary:focus {
  outline: none;
}
summary:hover {
  cursor: pointer;
}
footer {
  background-color: #eaeaea;
  height: 79px;
}
footer p {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
}
.fab {
  color: #b2b2b2;
}
.coperight {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.social_network-wrap {
  width: 32px;
  height: 32px;
  background-color: white;
  margin: 0 4px;
  text-align: center;
  line-height: 2.3;
}
.social_network-wrap:hover {
  color: #f7f7f8;
  background-color: #f16d7f;
}
.social_network-wrap:hover .fab {
  color: #f7f7f8;
}
.social_network-wrap:active {
  opacity: 50%;
}
.social_network {
  display: flex;
}
.breadcrumb-wreper {
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  align-items: center;
}
.breadcrumb {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 1140px;
}
.breadcrumb-list {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #636363;
  font-weight: 300;
}
.breadcrumb-nam {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.breadcrumb-list .active {
  color: #f16d7f;
  font-weight: 700;
}
.breadcrumb-item a {
  color: #636363;
}
.slesh::after {
  content: '/';
}
.shopping_cart {
  width: 1142px;
  height: 623px;
  margin-top: 90px;
  margin-bottom: 60px;
}
.shopping_cart .product_details {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.shopping_cart .pl {
  padding-right: 290px;
}
.shopping_cart .product-box {
  width: 1121px;
  height: 115px;
  display: flex;
  justify-content: space-between;
}
.shopping_cart .product-box span {
  color: #c0c0c0;
}
.shopping_cart .product-box img:hover .star-box {
  display: flex;
}
.shopping_cart .product-box-line {
  height: 1px;
  background-color: #eaeaea;
  margin: 26px 0px;
}
.shopping_cart .Color_Size-block {
  height: 82px;
  width: 157px;
  margin-right: 222px;
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shopping_cart .Color_Size-block h2 {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.shopping_cart .Color_Size-block p {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #575757;
  font-weight: 600;
}
.shopping_cart .Color_Size-block span {
  padding-left: 16px;
}
.shopping_cart .Color_Size-block .star-box-wreper {
  width: 61px;
  height: 26px;
}
.shopping_cart .Color_Size-block .star-box-wreper .star-box {
  display: none;
  height: 100%;
  align-items: center;
}
.shopping_cart .Color_Size-block .star-box-wreper .star-box i {
  width: 12px;
  color: gold;
}
.shopping_cart .filter-blue {
  filter: bluescale(50%);
}
.shopping_cart .price-box {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping_cart .price-box input {
  width: 38px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 16px;
  outline: none;
}
.shopping_cart .price-box p {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.shopping_cart .go_to_cart_button {
  display: flex;
  justify-content: space-between;
}
.shopping_cart .go_to_cart_button input {
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline: none;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.shopping_cart .go_to_cart_button input:hover {
  cursor: pointer;
}
.shipping-box {
  display: flex;
  justify-content: space-between;
  height: 268px;
  margin-bottom: 79px;
}
.shipping-box h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.shipping-box h2 {
  font-size: 14px;
  font-weight: 400;
}
.shipping-box span {
  color: #f16d7f;
}
.shipping-box-input {
  width: 337px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline: none;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding-left: 16px;
}
.shipping-box-block {
  width: 355px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heig_shipping-box-block {
  height: 184px;
}
.shipping-box-btn {
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
  padding: 0 16px;
}
.shipping-box-btn:hover {
  cursor: pointer;
}
.shipping-box-block-total {
  height: 214px;
  background-color: #f5f3f3;
  width: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shipping-box-block-total input {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}
.shipping-box-block-total input:hover {
  cursor: pointer;
}
.shipping-box-block-total h3 {
  padding-top: 12px;
}
.total-wreper {
  height: 64px;
  width: 275px;
  border-bottom: solid 1px #e2e2e2;
  text-align: end;
  margin-bottom: 17px;
}
.shipping-box-block select {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline: none;
  padding-left: 15px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
